<script setup lang="ts">
import { ref } from 'vue';

import { type Product } from '@/types/Product'
import { type ReceiptItem } from '@/types/ReceipItem';

import ProductList from '@/components/icons/ProductList.vue';

const products1: Product[] = [{
    id: 1,
    name: 'ลาเต้ ร้อน',
    price: 35.00,
    type:1
},{
    id: 2,
    name: 'ลาเต้ เย็น',
    price: 40.00,
    type:1
},{
    id: 3,
    name: 'ลาเต้ ปั่น',
    price: 50.00,
    type:1
},{
    id: 4,
    name: 'คาปูชิโน่ ร้อน',
    price: 35.00,
    type:1
},{
    id: 5,
    name: 'คาปูชิโน่ เย็น',
    price: 40.00,
    type:1
},{
    id: 6,
    name: 'คาปูชิโน่ ปั่น',
    price: 50.00,
    type:1
},{
    id: 7,
    name: 'โกโก้ ร้อน',
    price: 35.00,
    type:1
},{
    id: 8,
    name: 'โกโก้ เย็น',
    price: 40.00,
    type:1
},{
    id: 9,
    name: 'โกโก้ ปั่น',
    price: 50.00,
    type:1
},{
    id: 1,
    name: 'ลาเต้ ร้อน',
    price: 35.00,
    type:1
},{
    id: 2,
    name: 'ลาเต้ เย็น',
    price: 40.00,
    type:1
},{
    id: 3,
    name: 'ลาเต้ ปั่น',
    price: 50.00,
    type:1
},{
    id: 4,
    name: 'คาปูชิโน่ ร้อน',
    price: 35.00,
    type:1
},{
    id: 5,
    name: 'คาปูชิโน่ เย็น',
    price: 40.00,
    type:1
},{
    id: 6,
    name: 'คาปูชิโน่ ปั่น',
    price: 50.00,
    type:1
},{
    id: 7,
    name: 'โกโก้ ร้อน',
    price: 35.00,
    type:1
},{
    id: 8,
    name: 'โกโก้ เย็น',
    price: 40.00,
    type:1
},{
    id: 9,
    name: 'โกโก้ ปั่น',
    price: 50.00,
    type:1
}
]

const products2: Product[] = [{
    id: 1,
    name: 'ลาเต้ ร้อน',
    price: 35.00,
    type:2
},{
    id: 2,
    name: 'ลาเต้ เย็น',
    price: 40.00,
    type:2
},{
    id: 3,
    name: 'ลาเต้ ปั่น',
    price: 50.00,
    type:2
},{
    id: 4,
    name: 'คาปูชิโน่ ร้อน',
    price: 35.00,
    type:2
}
]

const products3: Product[] = [{
    id: 1,
    name: 'ลาเต้ ร้อน',
    price: 35.00,
    type:3
},{
    id: 2,
    name: 'ลาเต้ เย็น',
    price: 40.00,
    type:3
},{
    id: 3,
    name: 'ลาเต้ ปั่น',
    price: 50.00,
    type:3
}
]

const selected = (p: Product) => {
    console.log('ProductView:' + p)
    addReceipt(p)
}
const tab = ref(1)

const receiptItems = ref<ReceiptItem[]>([])
function addReceipt(product:Product){
    const newReceipt:ReceiptItem = {
    id: -1,
    name: product.name,
    price: product.price,
    unit: 1,
    productId: product.id,
    producut: product
}
receiptItems.value.push(newReceipt)
}
</script>

<template>
    <v-container>
        <v-row>
        <v-col cols="12" md="6" style="background-color: green;">
        <v-container style="padding: 0%;">
            <v-row>
                <v-col cols="12">
                    <v-sheet min-width="300" max-width="600" height="300" elevation="6" class="overflow-auto">
                        <v-table>
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>ชื่อสินค้า</th>
                                    <th>ราคา</th>
                                    <th>จำนวน</th>
                                    <th>ทั้งหมด</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(item, index) of receiptItems" :key="item.id">
                                    <td>{{ index+1 }}</td>
                                    <td>{{ item.name }}</td>
                                    <td>{{ item.price }}</td>
                                    <td>{{ item.unit }}</td>
                                    <td>{{ item.unit*item.price}}</td>
                                    <td>X</td>
                                </tr>
                            </tbody>
                        </v-table>
                    </v-sheet>
                </v-col>
                <v-col cols="12">
                    <v-sheet min-width="300" max-width="600" height="80" elevation="6"></v-sheet>
                </v-col>
                <v-col cols="12">
                    <v-sheet min-width="300" max-width="600" height="100" elevation="6"></v-sheet>
                </v-col>
                <v-col cols="12">
                    <v-sheet min-width="300" max-width="600" height="80" elevation="6"></v-sheet>
                </v-col>
            </v-row>
        </v-container>
        </v-col>
            <v-col cols="12" md="6" style="background-color: blue;">
                <v-sheet min-width="300" max-width="600" height="650" elevation="6">
                    <v-tabs
      v-model="tab"
      color="deep-purple-accent-4"
      align-tabs="center"
    >
      <v-tab :value="1">เครื่องดื่ม</v-tab>
      <v-tab :value="2">ขนม</v-tab>
      <v-tab :value="3">น้ำ</v-tab>
        </v-tabs>
        <v-window v-model="tab">
      <v-window-item
      :value="1"
      >
                    <product-list :products="products1" @selected-product="selected"></product-list>
                    </v-window-item></v-window>
                    <v-window v-model="tab">
      <v-window-item
      :value="2"
      >
                    <product-list :products="products2" @selected-product="selected"></product-list>
                    </v-window-item></v-window>
                    <v-window v-model="tab">
      <v-window-item
      :value="3"
      >
                    <product-list :products="products3" @selected-product="selected"></product-list>
                    </v-window-item></v-window>
                </v-sheet>
            </v-col>
        </v-row>
    </v-container>
</template>